<h2>Welcome to Pizza shop!</h2>

<div class="row">
	<% @products.each do |p| %>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>
		
		<div>
			<img src="<%= p.path_to_image %>" height="150" width="(150/10)*16">
		</div>
		
		<div>
			<%= p.description %>
		</div>
		
		<div>
			Price: <%= p.price %>
		</div>
		
		<div>
			Size: <%= p.size %>
		</div>

	</div>
	<% end %>
</div>

</br>
</br>
<button class="btn btn-primary" onclick="something()">Click me!</button>